<h2 class="title"> Add Transactions</h2>

<form (ngSubmit)="onSubmit()" #transactionForm="ngForm" class="form-card">
    
    <div class="form-row">
    <label>Trade Id</label>
    <input 
    type="number" [(ngModel)] = "transaction.tradeId" 
    name="tradeId" 
    class="form-control"
    required>
    </div>

    <div class="form-row">
    <label>Version</label>
    <input 
    type="number" [(ngModel)] = "transaction.version" 
    name="version" 
    class="form-control"
    required>
    </div>

    <div class="form-row">
    <label>Security Code</label>
    <input 
    type="text" [(ngModel)] = "transaction.securityCode" 
    name="securityCode" 
    class="form-control"
    required>
    </div>

    <div class="form-row">
    <label>Quantity</label>
    <input 
    type="number" [(ngModel)] = "transaction.quantity" 
    name="quantity" 
    class="form-control"
    required>
    </div>

    <div class="form-row">
<label>Action</label>
    <select [(ngModel)] = "transaction.action" 
    class="form-control"
    name="action" 
    required>
        <option value="INSERT">INSERT</option>
        <option value="UPDATE">UPDATE</option>
        <option value="CANCEL">CANCEL</option>
    </select>
    </div>
    
    <div class="form-row">
    <label>Buy/Sell</label>
    <select
    class="form-control"
     [(ngModel)] = "transaction.buySell" 
     name="buySell"
     required>
        <option value="Buy">Buy</option>
        <option value="Sell">Sell</option>
    </select>
    </div>
    
    <button type="submit" class="btn-primary" [disabled]="!transactionForm.form.valid">Add Transaction</button>
    
</form>

<p *ngIf="message" class="message">
    {{message}}
</p>